/* ======================================================

        ｡*ﾟ✲*☆(˘◡˘)☆*✲ﾟ*｡

        VaFT Glyph System
        Verze : 1.0.0

====================================================== */

.vaft-file::before{

    content:"(∩^O^)⊃━☆ﾟ.*･｡ ";

    color:var(--accent);

}

.vaft-image::before{

    content:"(∩^O^)⊃━☆ﾟ.*･｡ ";

    color:var(--accent);

}

.vaft-storage::before{

    content:"｡*ﾟ✲*☆(˘◡˘)☆*✲ﾟ*｡ ";

    color:#FFD86A;

}

.vaft-system::before{

    content:"•ﾟ✧٩(ˊᗜˋ*)و✧ﾟ• ";

    color:var(--accent);

}